<div class="form-inline">
  <h4>{{category.name}}</h4>
  {{admin-listing listings=category.listings}}
  {{update-category category=category}}
  {{add-listing saveListing='saveListing' category=category}}
</div>
